<body>
<div class="container">
    <h1>View Customer</h1>

    <a href="#" routerLink="/category/index" class="btn btn-primary">Back</a>

    <div class="content">
      <div>
        <strong>ID:</strong>
        {{ category.id }}
      </div>

      <div>
        <strong>Name:</strong>
       {{ category.name }}
      </div>

      <div>
        <strong>Age:</strong>
       {{ category.age }}
      </div>

      <div>
        <strong>Address:</strong>
        {{ category.address }}
      </div>
      <div>
        <strong>Contact No:</strong>
        {{ category.contactno }}
      </div>
      <div>
        <strong>Email Address:</strong>
       {{ category.emailadd }}
      </div>
      <div>
        <strong>Medical Condition:</strong>
       <p>{{ category.medicalcondition }}</p>
      </div>
      <div>
        <strong>Prescription:</strong>
       {{ category.prescription }}
      </div>
      <div>
        <strong>Quantity:</strong>
       {{ category.quantity }}
      </div>
    </div>
  </div>
</body>
