<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Pharm-Assist</title>
    </head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
      <img src="assets/pharmassist.svg" alt="Pharm-Assist Logo" id="logo">
        <a class="navbar-brand" href="#!">PHARM-ASSIST</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><nav><a class="nav-link"  href="#" routerLink="/" >Home</a></nav></li>
                <li class="nav-item"><nav><a class="nav-link" href="#!"routerLink="/about" routerLinkActive="active">About</a></nav></li>
                <li class="nav-item"><nav><a class="nav-link" href="#!" routerLink="/contact" routerLinkActive="active">Contact</a></nav></li>
                <li class="nav-item"><nav><a class="nav-link" href="#!" routerLink="/services" routerLinkActive="active">Services</a></nav></li>
              </ul>
        </div>
    </div>
  </nav>
<div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-5">
            <h1 class="font-weight-light">Welcome to Pharm-Assist</h1>
            <p>Your trusted partner in healthcare management and medication support. At PharmAssist, we're driven by a singular mission: to simplify your healthcare journey and empower you to take control of your well-being.</p>
        </div>
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="assets/sample4.jpg" alt="..." /></div>
    </div>

    <div class="col-lg-12">
      <h4 class="font-weight-light">Our Story</h4>
      <p>PharmAssist was born from a deep-rooted passion for revolutionizing the way healthcare is delivered and experienced. Our journey began in 2018, when a group of visionary minds came together with a shared vision to address the complex challenges individuals face in managing their medications and health information.

        Our founders recognized that in today's fast-paced world, the healthcare landscape was evolving rapidly, and it was time to bridge the gap between technology and patient care. Thus, PharmAssist was conceived as a comprehensive solution that would not only alleviate the complexities of medication management but also provide a holistic approach to healthcare.</p>
  </div>

  <div class="col-lg-12">
    <h4 class="font-weight-light">Our Purpose</h4>
    <p>At the heart of PharmAssist lies a commitment to improving the lives of individuals by putting the power of healthcare back in their hands. Our purpose is threefold:

      Empowerment: We empower individuals to make informed decisions about their health. PharmAssist provides access to vital information about medications, their effects, and possible interactions, ensuring that you have the knowledge needed to take charge of your well-being.

      Simplicity: We simplify the often convoluted world of healthcare. Managing multiple medications, tracking prescriptions, and coordinating with healthcare providers and pharmacies can be overwhelming. PharmAssist streamlines these processes, making your healthcare journey smoother and more manageable.

      Connection: We foster better communication and collaboration among patients, healthcare professionals, and pharmacists. Our platform serves as a bridge, connecting all stakeholders involved in your care to ensure that everyone is aligned with your health goals.</p>
  </div>

  <div class="col-lg-12">
    <h4 class="font-weight-light">The Pharm-Assist Experience</h4>
    <p>When you choose PharmAssist, you're choosing a partner dedicated to your health and well-being. Here's what you can expect from the PharmAssist experience:

      Efficiency: Say goodbye to missed doses and medication confusion. PharmAssist's intuitive features simplify medication management, so you can focus on what matters most—your health.

      Education: Access a wealth of knowledge at your fingertips. We provide comprehensive medication information, enabling you to make informed choices about your treatment plans.

      Support: You're never alone on your healthcare journey. PharmAssist offers a platform for seamless communication between you, your healthcare providers, and your pharmacy, ensuring that your care is coordinated and efficient.

      Data-Driven Insights: By using PharmAssist, you contribute to valuable anonymized health data that helps researchers and healthcare professionals improve healthcare practices and outcomes.

      At PharmAssist, we're not just a healthcare technology company; we're a community dedicated to your well-being. Join us on this transformative journey toward a healthier, happier you.

      Thank you for entrusting us with your healthcare needs. Together, we'll shape a healthier tomorrow.</p>
  </div>

  <section class="bg-light py-5 border-bottom">
    <div class="container px-5 my-5">
      <div class="text-center mb-5">
        <h2 class="fw-bolder">KNOW THE DEVELOPERS</h2>
      </div>
      <div class="container">
        <div class="row gx-2 gx-lg-5 justify-content-center">
          <div class="col-md-2 mb-3">
            <div class="card custom-card text-center">
              <img src="assets/pic.jpg" alt="Profile Picture" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Rosemarie Exile</h5>
                <h6 class="card-subtitle mb-2">Software Engineer</h6>
              </div>
            </div>
          </div>

          <div class="col-md-2 mb-3">
            <div class="card custom-card text-center">
              <img src="assets/Van.jpg" alt="Profile Picture" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Van</h5>
                <h6 class="card-subtitle mb-2">Software Engineer</h6>
              </div>
            </div>
          </div>

          <div class="col-md-2 mb-3">
            <div class="card custom-card text-center">
              <img src="assets/Ron.jpg" alt="Profile Picture" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Ronnalyn</h5>
                <h6 class="card-subtitle mb-2">Software Engineer</h6>
              </div>
            </div>
          </div>

          <div class="col-md-2 mb-3">
            <div class="card custom-card text-center">
              <img src="assets/Lyn.jpg" alt="Profile Picture" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Lalyn</h5>
                <h6 class="card-subtitle mb-2">Software Engineer</h6>
              </div>
            </div>
          </div>

          <div class="col-md-2 mb-3">
            <div class="card custom-card text-center">
              <img src="assets/Andrei.jpg" alt="Profile Picture" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Andrei</h5>
                <h6 class="card-subtitle mb-2">Software Engineer</h6>
              </div>
            </div>
          </div>
        </div>
      </div>


  </div>


  </section>
</div>
 <!-- Footer-->
 <footer class="py-5 bg-dark">
  <div class="container px-5"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>

</body></html>
