<body>

<div class="container">
    <h1>Create New Customer</h1>

    <a href="#" routerLink="/category/index" class="btn btn-primary">Back</a>

    <form [formGroup]="form" (ngSubmit)="submit()">

        <div class="form-group">
            <label for="name">Customer Name:</label>
            <input
                formControlName="name"
                id="name"
                type="text"
                class="form-control">
            <div *ngIf="f['name'].touched && f['name'].invalid" class="alert alert-danger">
                <div *ngIf="f['name'].errors && f['name'].errors['required']">Name is required.</div>
            </div>
        </div>

        <div class="form-group">
          <label for="age">Age</label>
          <textarea
              formControlName="age"
              id="age"
              type="text"
              class="form-control">
          </textarea>
          <div *ngIf="f['age'].touched && f['age'].invalid" class="alert alert-danger">
              <div *ngIf="f['age'].errors && f['age'].errors['required']">Age is required.</div>
          </div>
      </div>


        <div class="form-group">
            <label for="address">Address</label>
            <textarea
                formControlName="address"
                id="address"
                type="text"
                class="form-control">
            </textarea>
            <div *ngIf="f['address'].touched && f['address'].invalid" class="alert alert-danger">
                <div *ngIf="f['address'].errors && f['address'].errors['required']">Address is required.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="contactno">Contact No.</label>
            <textarea
                formControlName="contactno"
                id="contactno"
                type="text"
                class="form-control">
            </textarea>
            <div *ngIf="f['contactno'].touched && f['contactno'].invalid" class="alert alert-danger">
                <div *ngIf="f['contactno'].errors && f['contactno'].errors['required']">Contact No. is required.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="emailadd">Email Address</label>
            <textarea
                formControlName="emailadd"
                id="emailadd"
                type="text"
                class="form-control">
            </textarea>
            <div *ngIf="f['emailadd'].touched && f['emailadd'].invalid" class="alert alert-danger">
                <div *ngIf="f['emailadd'].errors && f['emailadd'].errors['required']">Email Address is required.</div>
            </div>
        </div>

        <div class="form-group">
          <label for="medicalcondition">Medical Condition</label>
          <textarea
              formControlName="medicalcondition"
              id="medicalcondition"
              type="text"
              class="form-control">
          </textarea>
          <div *ngIf="f['medicalcondition'].touched && f['medicalcondition'].invalid" class="alert alert-danger">
              <div *ngIf="f['medicalcondition'].errors && f['medicalcondition'].errors['required']">Medical condition is required.</div>
          </div>

          <div class="form-group">
            <label for="prescription">Prescription</label>
            <textarea
                formControlName="prescription"
                id="prescription"
                type="text"
                class="form-control">
            </textarea>
            <div *ngIf="f['prescription'].touched && f['prescription'].invalid" class="alert alert-danger">
                <div *ngIf="f['prescription'].errors && f['prescription'].errors['required']">Prescription is required.</div>
            </div>
          </div>



          <div class="form-group">
            <label for="quantity">Quantity</label>
            <textarea
                formControlName="quantity"
                id="quantity"
                type="text"
                class="form-control">
            </textarea>
            <div *ngIf="f['quantity'].touched && f['quantity'].invalid" class="alert alert-danger">
                <div *ngIf="f['quantity'].errors && f['quantity'].errors['required']">Quantity is required.</div>
            </div>
        </div>
      </div>

        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>
    </form>
</div>
</body>
